body{
    background-attachment: fixed;
    margin-top: 35px;
    font-family: sans-serif;
    background-color: #231f20;
    color: white;
}
h1{
    text-align: center;
    width:850px;
    height:100px;
    margin:auto;
}

p{
    padding-left:20px;
    padding-right:20px;
}
a {
    color: #A956A2;
}
#team-links {
    text-align:right;
    right: 20px;
}
    
 

a:hover {
    color: yellow;
}

#logo-background{
    display:block;
    width:100%;
    z-index:-1;
    position:absolute;
    top:0px;
    background:linear-gradient(45deg, rgba(167, 165, 165, 0.527),10%, #231f20);
    height: 101px;
}
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width: 600px;
    height: 200px;
    /* border: 1px solid #f1f1f1; */
    border-radius:20px;
    /* perspective: 1000px; Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner, .flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #231f20;
    color: white;
    border-radius:20px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #231f20;
    color: white;
    transform: rotateY(180deg);
    border-radius:20px;
  } 

#logoImage{
    color: white;
    filter: invert(100%);
    position: absolute;
    top: 25px;
    width: 200px;
    opacity:0;
    transform: translateX(-3rem);
    animation: fadeInSide 2s ease forwards;
}

@keyframes fadeInSide{
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
#gameboard{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    /* border: 3px solid black; */
    width: 850px;
    justify-content: center;
    align-items: center;
    color:rgb(216, 216, 216);
    text-shadow: 0 0 10px white;
    /* background-color:rgb(158, 158, 158); */
    background-image: url(Space.png);
    background-size: 200%;
    background-position: 1275px -7px;
    grid-template: 
    "title title"
    "timer score"
    "summary summary"
    "scorehistory scorehistory"
    "flick flick"
    "resetgame highscore";
    grid-auto-columns: 50%;
}

#title{
    padding-bottom:20px;
    grid-area: title;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#MFIMG{
    width:200px;
    

}

#score{
    grid-area: score;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height:50px;
    border: 3px solid rgb(216, 216, 216);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#timer{
    grid-area: timer;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height:50px;
    border: 3px solid rgb(216, 216, 216);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#score-summary {
    grid-area: summary;
    margin: 40px auto;
    width:100%;
    height:50px;
    font-size: 25px;
}

#highScore-history {
    grid-area: scorehistory;
    margin: 40px auto;
    width:100%;
    height:50px;
    font-size: 25px;
}

#resetButton{
    grid-area: resetgame;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50px;
    border: 3px solid rgb(216, 216, 216);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#resetButton:hover{
    cursor: pointer;
    background-color: #A956A2;
}

#highScore{
    grid-area: highscore;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50px;
    border: 3px solid rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#highScore:hover {
    cursor: pointer;
    background-color: #A956A2;
}

.flickboard-display {
    grid-area: flick;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #6ccfd8; */
    display: flex;
    width: 800px;
    height:800px;
    /* border: 3px solid black; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    font-size: 50px;
    animation: rotation 60s infinite linear
}

.flickboard-hidden {
    display: none;
}

.summary-display {
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 570px;
}

.summary-hidden {
    display: none;
}


.highScoreHistory-display {
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 570px;
}

.highScoreHistory-hidden {
    display: none;
}

#box8{
    width: 25%;
    height: 25%;
    margin: 70px -50px -70px 50px;
}

#box1{
    width: 25%;
    height: 25%;
    margin: -20px 0 20px 0;

}

#box2{
    width: 25%;
    height: 25%;
    margin: 70px 50px -70px -50px;
}

#box7{
    width: 25%;
    height: 25%;
    margin: 0px 35px 0px -35px; 
}

#box3{
    width: 25%;
    height: 25%;
    margin: 0px -35px 0px 35px; 
}

#box6{
    width: 25%;
    height: 25%;
    margin: -70px -50px 70px 50px;
}

#box5{
    width: 25%;
    height: 25%;
    margin: 20px 0 -20px 0;
}

#box4{
    width: 25%;
    height: 25%;
    margin: -70px 50px 70px -50px;
}

#equation{
    width: 25%;
    height: 25%;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:white;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
    /* background-color: rgb(255, 255, 255); */
    animation: rotationBackwards 60s infinite linear;
    box-shadow : 0 0 30px white;
    font-family: 'Ubuntu', sans-serif;
}

.target{
    /* background-color: #f4ff81; */
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #A956A2;
    animation: rotationBackwards 60s infinite linear;
    box-shadow: 0 0 0 #A956A2;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
}


#comboMeter {
    position:absolute;
    width:5%;
    text-align:center;
    right:47.5%;
    top:500px;
    opacity:0.3;
    font-size: 10px;
    z-index: 1;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes rotationBackwards {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}