body{
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #6c88bb 0%, #93aabd 74%);
}
h1{
    text-align: center;
}
#gameboard{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 850px;
    justify-content: center;
    align-items: center;
    color:rgb(216, 216, 216);
    text-shadow: 0 0 10px white;
    /* background-color:rgb(158, 158, 158); */
    background-image: url(Space.png);
    background-size: 200%;
    background-position: 1275px -26px;
    grid-template: 
    "title title"
    "timer score"
    "flick flick"
    "resetgame resetscore";
    grid-auto-columns: 50%;
}

#title{
    grid-area: title;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    
}

#score{
    grid-area: score;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:50px;
    border: 3px solid rgb(216, 216, 216);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#timer{
    grid-area: timer;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50px;
    border: 3px solid rgb(216, 216, 216);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#resetButton{
    grid-area: resetgame;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50px;
    border: 3px solid rgb(216, 216, 216);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#resetscore{
    grid-area: resetscore;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:50px;
    border: 3px solid rgb(216, 216, 216);k;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#flickboard{
    grid-area: flick;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #6ccfd8; */
    display: flex;
    width: 800px;
    height:800px;
    /* border: 3px solid black; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    font-size: 50px;
    animation: rotation 60s infinite linear
}


#box8{
    width: 25%;
    height: 25%;
    margin: 70px -50px -70px 50px;
}

#box1{
    width: 25%;
    height: 25%;
    margin: -20px 0 20px 0;

}

#box2{
    width: 25%;
    height: 25%;
    margin: 70px 50px -70px -50px;
}

#box7{
    width: 25%;
    height: 25%;
    margin: 0px 35px 0px -35px; 
}

#box3{
    width: 25%;
    height: 25%;
    margin: 0px -35px 0px 35px; 
}

#box6{
    width: 25%;
    height: 25%;
    margin: -70px -50px 70px 50px;
}

#box5{
    width: 25%;
    height: 25%;
    margin: 20px 0 -20px 0;
}

#box4{
    width: 25%;
    height: 25%;
    margin: -70px 50px 70px -50px;
}

#equation{
    width: 25%;
    height: 25%;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    color:white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
    /* background-color: rgb(255, 255, 255); */
    animation: rotationBackwards 60s infinite linear;
}

.target{
    /* background-color: #f4ff81; */
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #A956A2;
    animation: rotationBackwards 60s infinite linear;
}


#comboMeter {
    position:absolute;
    width:5%;
    text-align:center;
    right:47.5%;
    top:470px;
    opacity:0.3;
    font-size: 10px;
    z-index: 1;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


@keyframes rotationBackwards {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}